[submodule "mod/Commerce"]
    path = mod/Commerce
    url = https://github.com/Nomoos/PrismQ.IdeaInspiration.Sources.Commerce.git
    branch = main

[submodule "mod/Community"]
    path = mod/Community
    url = https://github.com/Nomoos/PrismQ.IdeaInspiration.Sources.Community.git
    branch = main

[submodule "mod/Creative"]
    path = mod/Creative
    url = https://github.com/Nomoos/PrismQ.IdeaInspiration.Sources.Creative.git
    branch = main

[submodule "mod/Events"]
    path = mod/Events
    url = https://github.com/Nomoos/PrismQ.IdeaInspiration.Sources.Events.git
    branch = main

[submodule "mod/Internal"]
    path = mod/Internal
    url = https://github.com/Nomoos/PrismQ.IdeaInspiration.Sources.Internal.git
    branch = main

[submodule "mod/Signals"]
    path = mod/Signals
    url = https://github.com/Nomoos/PrismQ.IdeaInspiration.Sources.Signals.git
    branch = main
