[submodule "IdeaInspiration"]
	path = IdeaInspiration
	url = https://github.com/Nomoos/PrismQ.IdeaInspiration.git
	branch = main
[submodule "RepositoryTemplate"]
	path = RepositoryTemplate
	url = https://github.com/Nomoos/PrismQ.RepositoryTemplate.git
	branch = main
